export const REDDIT_TOKEN = {
  access_token: '',
  token_type: 'bearer',
  expires_in: ,
  refresh_token: '',
  scope: 'history identity mysubreddits read save subscribe vote'
};

export const REDDIT_SECRET = {
  clientId: ''
};
