@import '../../../../variables';

img.submission-preview {
  height: 90px;
  width: 120px;
}
.submission-item {
  margin: 1rem
}

.submission-title {
  margin: .5rem .5rem 1rem .3rem;
}

.submission-domain {
  font-size: .8rem;
  color:map-get($theme-colors, 'dark');;
  margin: 5px;
}

.submission-action {
  color: map-get($theme-colors, 'info');
  margin: 0 .75rem;
}

ul.submission-info {
  list-style-type: none;
  padding: 0 .5rem;
}
ul.submission-info li {
  display: inline;
  padding: .3rem 0;
  margin: 0 .3em;
}
.submission-subreddit {
  font-size: .8rem;
  cursor: pointer;
  color: map-get($theme-colors, 'info');

  &:hover {
    border-bottom: 1px solid map-get($theme-colors, 'info');
  }
}
.submission-comments {
  cursor: pointer;
  // color: map-get($theme-colors, 'dark');

  &:hover {
    border-bottom: 1px solid black
  }
}

.submission-author {
  cursor: pointer;
  color: map-get($theme-colors, 'dark');

  &:hover {
    border-bottom: 1px solid map-get($theme-colors, 'dark');
  }
}

.submission-date {
  color: map-get($theme-colors, 'dark');
  font-size: .75rem;
}

.submission-detail {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1rem;
}

